
body{background-image:url('wp6469982.jpg.webp');} 		/* This adds the background to the pages */

h1 {font-family:Arial, Helvetica, sans-serif; color: rgb(152, 0, 247); text-align:Center;} 	/* Headings declared as H1 will be centered and Green */

p {font-family:'Arial'; font-size:16px;color:rgb(28, 0, 49);}	/* Paragraphs set as Arial, 14px, and Blue */
	
a:link {color:red;}    					/* Hyperlinks to be given Red color when not visited */

blockquote {font-family:Arial, Helvetica, sans-serif; color:orange; font-style: italic;} 	/* Blockquotes will be italicized and Orange */
	
a:visited {color:green;} 				/* Hyperlinks to turn green once they are visited */